/* src/App.css */
/* *{
  background-color: rgba(156, 178, 76, 0.584);

} */

.App {
  text-align: center;
  margin: 2rem;

}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  /* background-color: grey; */
}

input,
select {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

button {
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-color: aliceblue;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 4px;
}
